// sass variable examples
$red:                   #EA7882;

$font-family-base:      'Segoe UI', 'HelveticaNeue-Light', sans-serif;

$max-content-width:     1000px;

.example {
    h1 {
        color: $red;
    }
}